# Ignore all files by default, but scan all directories
*
!*/

!*.c
!*.cpp
!*.inl
!*.zig
!*.zig.zon
!*.h
!*.asm
!*.s
!*.bat
!*.py
!*.go
!*.a
!Makefile
!LICENSE*

!*.ini
!*.txt
!*.md
!*.yaml

!bin/llvm-objcopy.exe
!bin/llvm-objcopy

!.ignore
!.gitkeep
!.gitignore
!.gitattributes

# Ignore some special directories and files
.zig-cache
zig-out
backup
