# Ignore all files by default, but scan all directories
*
!*/

!*.c
!*.cpp
!*.inl
!*.zig
!*.h
!*.asm
!*.bat
!Makefile
!LICENSE*

!*.ini
!*.txt
!*.md

!fasm.exe

!.ignore
!.gitkeep
!.gitignore
!.gitattributes

# Ignore some special directories
zig-cache
zig-out
backup
